@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  /* background-image: url("/HTML-CSS-Lap/images/apple-pie.jpg"); */
  background-size: cover;
  background-position: center;
}

.banner img {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner h2 {
  position: absolute;
  color: white;
  font-size: 100px;
  letter-spacing: 1.7px;
  opacity: 0.8;
  top: 20rem;
  left: 18rem;
  font-weight: lighter;
}

.content {
  width: 100%;
  height: 100%;
  color: gray;
}

.content .intro {
  padding: 8rem 11rem 3rem 11rem;
  font-size: 1.7rem;
  font-weight: lighter;
  line-height: 2.4rem;
}

.content .intro img {
  margin-top: 2rem;
  margin-left: 14rem;
}

hr {
  width: 80%;
  margin-left: 10rem;
  height: 0.5px;
  background-color: gray;
}
.content .ingredients {
  font-size: 1.5rem;
  padding: 2rem;
  margin-left: 10rem;
  line-height: 2.4rem;
}
.content .ingredients h2 {
  padding-bottom: 2rem;
}

.content .ingredients li {
  list-style-type: none;
}

.content .ingredients ul > li:before {
  content: "- ";
  text-indent: -5px;
}

.content .ingredients img {
  margin: 2rem 0 0 15rem;
}

.content .direction h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.content .direction {
  line-height: 2.4rem;
  font-size: 1.5rem;
  margin: 2rem 15rem 5rem 14rem;
}
